# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "sakul-flee.de"
serve_well_known: true
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: true
database:
  name: psycopg2
  txn_limit: 10000
  args:
    user: postgres
    password: deo1eezae7eith3vaer5cheeghie3ae1paepeiwe7cephah7eetooT9iToh3xei3
    dbname: postgres
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10
log_config: "/data/matrix.sakul-flee.de.log.config"
media_store_path: /data/media_store
registration_shared_secret: "U8TsF8ai#;eYLGKegCCIOgQc~K0.e;DMY+b5SglBeI,wcSB#N-"
report_stats: false
macaroon_secret_key: "O-w~#,fy6-FoQY=FG=5ebWO3*Nl6riBQWxD75wZCUmS;6cN~o&"
form_secret: "dVR4sL0OLrxqn0:Tyi-9s,jqEJ,20g_YL:p;ThrG5rgvk_=9GR"
signing_key_path: "/data/matrix.sakul-flee.de.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
federation:
  client_timeout: 180s
  max_short_retry_delay: 7s
  max_long_retry_delay: 100s
  max_short_retries: 5
  max_long_retries: 20
  destination_min_retry_interval: 30s
  destination_retry_multiplier: 5
  destination_max_retry_interval: 12h
retention:
  enabled: true
  default_policy:
    min_lifetime: 1d
    max_lifetime: 1y
  allowed_lifetime_min: 1d
  allowed_lifetime_max: 1y
  purge_jobs:
    - longest_max_lifetime: 3d
      interval: 12h
    - shortest_max_lifetime: 3d
      interval: 1d
oidc_providers:
  - idp_id: github
    idp_name: Github
    idp_brand: "github" # optional: styling hint for clients
    discover: false
    enable_registration: false
    issuer: "https://github.com/"
    client_id: "Ov23lihBTFzjS0e0N2v2"
    client_secret: "5b13e51b89fba40c42890aa0558f800e0036bdc2"
    authorization_endpoint: "https://github.com/login/oauth/authorize"
    token_endpoint: "https://github.com/login/oauth/access_token"
    userinfo_endpoint: "https://api.github.com/user"
    scopes: ["read:user"]
    user_mapping_provider:
      config:
        subject_claim: "id"
        localpart_template: "{{ user.login }}"
        display_name_template: "{{ user.name }}"
# vim:ft=yaml

