[Unit]
Description=Cross-Seed Daemon
After=network.target

[Service]
Type=simple
User={{ cross_seed_user }}
Group={{ cross_seed_group }}
WorkingDirectory={{ cross_seed_dir }}
ExecStart=/usr/bin/node node_modules/cross-seed/dist/cmd.js daemon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
