{
    email dev@sakul-flee.de
}

bluemap.sakul-flee.de {
    encode gzip

    reverse_proxy host.docker.internal:8100
}

nextcloud.sakul-flee.de {
    reverse_proxy nextcloud-aio-mastercontainer:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}

        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

nextcloud-aio.sakul-flee.de {
    reverse_proxy nextcloud-aio-mastercontainer:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}

        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

sakul-flee.de, www.sakul-flee.de {
    redir https://sakulflee.github.io
}
