{
    email dev@sakul-flee.de
}

syncthing.sakul-flee.de {
    encode gzip
    reverse_proxy syncthing:8384
}

motioneye.sakul-flee.de {
    encode gzip

    reverse_proxy motioneye:8765
}

bluemap.sakul-flee.de {
    encode gzip

    reverse_proxy minecraft-bluemap:8100
}

sakul-flee.de, www.sakul-flee.de {
    redir https://sakulflee.github.io
}
