{
    email dev@sakul-flee.de
}

bluemap.sakul-flee.de {
    encode gzip

    reverse_proxy host.docker.internal:8100
}

nextcloud.sakul-flee.de {
    reverse_proxy localhost:8080
}

* {
    redir https://sakulflee.github.io
}
