name: Caddy
services:
  caddy:
    build: .
    restart: unless-stopped
    tty: true
    cap_add:
      - NET_ADMIN
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data:z
      - caddy_config:/config:z
    networks:
      - nextcloud

volumes:
  caddy_data:
  caddy_config:

networks:
  nextcloud:
