apiVersion: apps/v1
kind: Deployment
metadata:
  name: fscraper-kai
  namespace: media
  labels:
    app: fscraper-kai
spec:
  selector:
    matchLabels:
      app: fscraper-kai
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: fscraper-kai
    spec:
      volumes:
        - name: media-storage
          persistentVolumeClaim:
            claimName: media
        - name: fscraper-config
          configMap:
            name: fscraper-config
            defaultMode: 0777
      containers:
        - name: fscraper-kai
          image: forgejo.sakul-flee.de/container/fscraper:latest
          stdin: true
          tty: true
          imagePullPolicy: Always
          command:
            - sh
            - -c
            - fansly-scraper -m Kaimiho; fansly-scraper monitor start
          volumeMounts:
            - name: fscraper-config
              mountPath: /root/.config/fansly-scraper/config.toml
              subPath: config.toml
            - name: media-storage
              mountPath: /mnt/media
