- name: "Create caddy directory"
  ansible.builtin.file:
    path: /var/lib/caddy/
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Create data directory"
  ansible.builtin.file:
    path: /var/lib/caddy/data
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Create config directory"
  ansible.builtin.file:
    path: /var/lib/caddy/config
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Create container build directory"
  ansible.builtin.file:
    path: /var/lib/caddy-container-build/
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Copy Caddyfile"
  ansible.builtin.copy:
    src: Caddyfile
    dest: /var/lib/caddy-container-build/Caddyfile
    owner: root
    group: root
    mode: "0755"
  register: copy_caddyfile

- name: "Copy Containerfile"
  ansible.builtin.copy:
    src: Containerfile
    dest: /var/lib/caddy-container-build/Containerfile
    owner: root
    group: root
    mode: "0755"

- name: "Build container image"
  containers.podman.podman_image:
    name: caddy_with_caddyfile
    path: /var/lib/caddy-container-build/
    build:
      cache: false
    force: true
    pull: true

- name: "Deploy container"
  containers.podman.podman_container:
    state: started
    name: caddy
    image: caddy_with_caddyfile
    restart_policy: unless-stopped
    init: true
    recreate: true
    ports:
      - 80:80 # HTTP
      - 443:443 # HTTPS
      - 443:443/udp # QUIC
    volume:
      - "/var/lib/caddy/data:/data:z"
      - "/var/lib/caddy/config:/config:z"

- name: Restart container if config changed
  containers.podman.podman_container:
    name: caddy
    state: started
    force_restart: true
  when: copy_caddyfile.changed
  changed_when: copy_caddyfile.changed

- name: Add task to start container on reboot
  ansible.builtin.cron:
    special_time: "reboot"
    name: Start container
    job: podman start caddy
