- name: "Copy Containerfiles"
  ansible.builtin.copy:
    src: container/
    dest: /var/lib/container/
    owner: root
    group: root
    mode: "0755"

- name: "Build container image"
  containers.podman.podman_image:
    name: minecraft
    path: /var/lib/container/
    build:
      cache: false
    force: true
    pull: true
  register: image_build

- name: "Create minecraft directory"
  ansible.builtin.file:
    path: /var/lib/minecraft/
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Deploy container"
  containers.podman.podman_container:
    state: started
    name: minecraft
    image: minecraft
    restart_policy: unless-stopped
    init: true
    recreate: "{{ image_build.changed }}"
    ports:
      - "25565:25565/tcp" # Minecraft Java
      - "19132:19132/udp" # Minecraft Bedrock
      - "8100:8100/tcp" # BlueMap
    volume:
      - "/var/lib/minecraft/:/app:z"

- name: Add task to start container on reboot
  ansible.builtin.cron:
    special_time: "reboot"
    name: Start container
    job: podman start minecraft
