apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: redis-enterprise-operator
  namespace: redis-enterprise-operator
dependsOn:
- cert-manager
- cert-manager-cluster-issuer
- longhorn
- longhorn-config
- cloudnative-pg
resources:
- namespace.yaml
- helm-repository.yaml
- helm-release.yaml
  
