# Save this in a file named nextcloud-hook-cm.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-app-hook
  namespace: nextcloud 
data:
  app-hook.sh: |
    #!/usr/bin/env bash
    
    # --- Config --- 
    # Apps to be removed (if possible) and disabled
    APPS_TO_REMOVE_AND_DISABLE=(
      "app_api"
      "encryption"
      "user_ldap"
    )

    # Apps to install and enable 
    APPS_TO_INSTALL_AND_ENABLE=(
      "activity"
      "admin_audit"
      "assistant"
      "bruteforcesettings"
      "calendar"
      "calendar_resource_management"
      "camerarawpreviews"
      "checksum"
      "circles"
      "cloud_federation_api"
      "comments"
      "contacts"
      "contactsinteraction"
      "cookbook"
      "dashboard"
      "dav"
      "deck"
      "dicomviewer"
      "drawio"
      "end_to_end_encryption"
      "epubviewer"
      "event_update_notification"
      "federatedfilesharing"
      "federation"
      "files"
      "files_3dmodelviewer"
      "files_accesscontrol"
      "files_antivirus"
      "files_automatedtagging"
      "files_downloadlimit"
      "files_external"
      "files_pdfviewer"
      "files_reminders"
      "files_sharing"
      "files_trashbin"
      "files_versions"
      "firstrunwizard"
      "groupfolders"
      "htmlviewer"
      "imageconverter"
      "journeys"
      "logreader"
      "lookup_server_connector"
      "mail"
      "metadata"
      "music"
      "nextcloud_announcements"
      "notifications"
      "oauth2"
      "password_policy"
      "photos"
      "privacy"
      "profile"
      "provisioning_api"
      "quota_warning"
      "recommendations"
      "related_resources"
      "richdocuments"
      "serverinfo"
      "settings"
      "sharebymail"
      "support"
      "survey_client"
      "suspicious_login"
      "systemtags"
      "text"
      "theming"
      "twofactor_backupcodes"
      "twofactor_nextcloud_notification"
      "twofactor_totp"
      "updatenotification"
      "user_status"
      "viewer"
      "weather_status"
      "webhook_listeners"
      "workflowengine"
    )

    # Settings to be applied for apps
    # This is mildly complex, there are three arrays here.
    # To set an app config value, we need three values:
    # 1. App key
    # 2. Value key
    # 3. Actual value 
    # The follow three arrays are exaclty that!
    
    # 1. App keys
    APP_CONFIG_APP_KEYS=(
      "files_antivirus"
      "files_antivirus"
      "files_antivirus"
      "files_antivirus"
      "files_antivirus"
      "files_antivirus"
      "richdocuments"
      "richdocuments"
      "richdocuments"
      "richdocuments"
      "richdocuments"
    )

    # 2. Value keys 
    APP_CONFIG_VALUE_KEYS=(
      "av_host"
      "av_port"
      "enabled"
      "av_block_unreachable"
      "av_infected_action"
      "av_stream_max_length"
      "enabled"
      "public_wopi_url"
      "wopi_callback_url"
      "wopi_url"
      "wopi_allowlist"
    )

    # 3. Actual values
    APP_CONFIG_VALUES=(
      "nextcloud-clamav"
      "3310"
      "yes"
      "yes"
      "only_log"
      "52428800"
      "yes"
      "https://nextcloud.sakul-flee.de"
      "https://nextcloud.sakul-flee.de"
      "https://collabora.sakul-flee.de"
      "192.168.0.0/16"
    )

    # --- Script --- 
    echo "Running app install hook ..."

    # Remove and disable apps
    echo "### Removing and disabling apps ..."
    PIDS=()
    for e in ${APPS_TO_REMOVE_AND_DISABLE[@]}; do
      (
        echo "> Disabling and removing app: $e"

        php /var/www/html/occ app:disable "$e"
        php /var/www/html/occ app:remove "$e"

        echo ""
      ) &
      PIDS+=($!)
    done

    echo ""
    echo "### Waiting for all tasks to complete ..."
    for pid in "${PIDS[@]}"; do
      wait "$pid"
    done
    echo ""

    # Install and enable apps
    echo "### Installing and enabling apps ..."
    PIDS=()
    for e in ${APPS_TO_INSTALL_AND_ENABLE[@]}; do
      (
        echo "> Installing and enabling app: $e"

        php /var/www/html/occ app:install "$e"
        php /var/www/html/occ app:enable "$e"

        echo ""
      ) &
      PIDS+=($!)
    done

    echo ""
    echo "### Waiting for all tasks to complete ..."
    for pid in "${PIDS[@]}"; do
      wait "$pid"
    done
    echo ""

    # App updates
    echo ""
    echo "Updating all apps ..."
    php /var/www/html/occ app:update --all
    echo ""

    # App settings 
    echo "### Configuring app settings ..."
    PIDS=()

    APP_CONFIG_KEYS_COUNT=${#APP_CONFIG_APP_KEYS[@]}
    APP_CONFIG_VALUE_KEYS_COUNT=${#APP_CONFIG_VALUE_KEYS[@]}
    APP_CONFIG_VALUES_COUNT=${#APP_CONFIG_VALUES[@]}
    
    if [[ $APP_CONFIG_VALUES_COUNT -ne $APP_CONFIG_KEYS_COUNT ]] || [[ $APP_CONFIG_VALUES_COUNT -ne $APP_CONFIG_VALUE_KEYS_COUNT ]]; then 
      echo "ERROR: App config arrays are out of sync! There is a count mismatch."
      echo "Keys count: $APP_CONFIG_KEYS_COUNT"
      echo "Value keys count: $APP_CONFIG_VALUE_KEYS_COUNT"
      echo "Values count: $APP_CONFIG_VALUES_COUNT"
      exit 1
    fi 

    for (( i=0; i < $APP_CONFIG_VALUES_COUNT; i++ )); do 
      KEY=${APP_CONFIG_APP_KEYS[i]}
      VALUE_KEY=${APP_CONFIG_VALUE_KEYS[i]}
      VALUE=${APP_CONFIG_VALUES[i]}

      (
        echo "Setting '$VALUE_KEY' for app '$KEY' to '$VALUE'!"

        php /var/www/html/occ config:app:set "$KEY" "$VALUE_KEY" --value "$VALUE" 
    
        echo ""
      ) &
      PIDS+=($!)
    done

    echo ""
    echo "Waiting for all tasks to complete ..."
    for pid in "${PIDS[@]}"; do
      wait "$pid"
    done
    echo ""

    echo "### DONE ###"
