apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: nextcloud
  namespace: nextcloud
dependsOn:
- cert-manager
- cert-manager-cluster-issuer
- longhorn
- longhorn-config
- cloudnative-pg
resources:
- namespace.yaml
- database-postgres.yaml
