apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-forgejo-seeder
  namespace: jenkins
data:
  forgejo-org-seeder.groovy: |
    organizationFolder('Forgejo') {
      displayName('Forgejo Organization Pipeline Discovery')
      description('Scans a Forgejo Organization for Jenkinsfiles.')

      organizations {
        gitea { 
          serverUrl('https://forgejo.sakul-flee.de')
          repoOwner('Jenkins')
          credentialsId('forgejo-credentials') 

          traits {
            gitBranchDiscovery()
            gitTagDiscovery()
      
            giteaPullRequestDiscovery()

            giteaExcludeArchivedRepositories()

            giteaWebhookRegistration() 
            
            lfs()
          }


        }
      }

      orphanedItemStrategy {
        discardOldItems {
          daysToKeep(90)
        }
      
      triggers {
        periodicFolderTrigger('1d')
        pollScm {}
      }
    }
