apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-forgejo-seeder
  namespace: jenkins
data:
  forgejo-org-seeder.groovy: |
    organizationFolder('Forgejo') {
      displayName('Forgejo Organization Pipeline Discovery')
      description('Scans a Forgejo Organization for Jenkinsfiles.')

      sources {
        gitea {
          id('forgejo-scm-source')
          credentialsId('forgejo-credentials') 
          serverUrl('https://forgejo.sakul-flee.de')
          repoOwner('Jenkins')

          traits {
            git.discoverBranches()
            gitea.discoverPullRequests() {
              strategyId('merge') 
              trustSource('authenticatedUsers') 
            }
          }
        }
      }
      
      triggers {
        periodic(5) 
      }
    }
