- name: "Create data directory"
  ansible.builtin.file:
    path: /var/lib/cf_ddns
    state: directory
    owner: root
    group: root
    mode: "0777"

- name: "Create IPv4 file"
  ansible.builtin.file:
    path: /var/lib/cf_ddns/ipv4.last
    state: touch
    owner: root
    group: root
    mode: "0777"

- name: "Create IPv6 file"
  ansible.builtin.file:
    path: /var/lib/cf_ddns/ipv6.last
    state: touch
    owner: root
    group: root
    mode: "0777"

- name: "Copy settings"
  ansible.builtin.copy:
    src: settings
    dest: /var/lib/cf_ddns/settings
    owner: root
    group: root
    mode: "0777"

- name: Setup task to run Cloudflare-DDNS
  ansible.builtin.cron:
    name: "Cloudflare-DDNS"
    minute: "*/5"
    job: podman run -it --rm -v /var/lib/cf_ddns/ipv4.last:/opt/cf_ddns/cache/ipv4.last:z -v /var/lib/cf_ddns/ipv6.last:/opt/cf_ddns/cache/ipv6.last:z -v /var/lib/cf_ddns/settings:/opt/cf_ddns/settings:z ghcr.io/sakulflee/cloudflare-ddns:latest
