apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx    
  annotations:
    cert-manager.io/cluster-issuer: zerossl-production
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  ingressClassName: traefik
  tls:
    - hosts:
      - secretName: test-sakul-flee-de-tls
  rules:
  - host: test.sakul-flee.de
    http:
      paths:
      - path: /
        pathType: Exact
        backend:
          service:
            name: nginx
            port:
              number: 80

