apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: '37.*'
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 5m
  releaseName: traefik 
  targetNamespace: traefik 
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  test:
    enable: true
  driftDetection:
    mode: enabled
    ignore:
    - paths: ["/spec/replicas"]
      target:
        kind: Deployment
  values:
    ports:
      web:
        port: 80
        hostPort: 80
        exposedPort: 80
      websecure:
        port: 443
        hostPort: 443
        exposedPort: 443
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          port: 80 
          namespacePolicy:
            from: All   
        websecure:
          port: 443
          namespacePolicy:
            from: All

