providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      port: 80 
      namespacePolicy:
        from: All   
    websecure:
      port: 443
      namespacePolicy:
        from: All
