{
  email dev@sakul-flee.de
}

sakul-flee.de, www.sakul-flee.de {
  reverse_proxy 10.0.0.102:80
}

pve.sakul-flee.de {
  reverse_proxy 10.0.0.1:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

pbs.sakul-flee.de {
  reverse_proxy 10.0.0.2:8007 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

forgejo.sakul-flee.de {
  reverse_proxy 10.0.0.103:3000
}

woodpecker.sakul-flee.de {
  reverse_proxy 10.0.0.104:9000
}
