{
    email dev@sakul-flee.de
}

syncthing.sakul-flee.de {
    encode gzip zstd
    reverse_proxy syncthing:8384
}

bluemap.sakul-flee.de {
    encode gzip zstd

    reverse_proxy minecraft:8100
}

sakul-flee.de, www.sakul-flee.de {
    encode gzip zstd

    @matrix-well-known-server {
        path /.well-known/matrix/server
    }
    handle @matrix-well-known-server {
        respond 200 {
            body "{\"m.server\": \"sakul-flee.de:443\"}"
            close
        }
    }

    @matrix {
        path /.well-known/matrix/*
        path /_matrix /_matrix/*
        path /_synapse /_synapse/*
    }
    handle @matrix {
        reverse_proxy matrix:8008 {
            header_up Host {http.request.host}
            header_up X-Forwarded-For {http.request.remote}
            header_up X-Forwarded-Proto {http.request.scheme}
        }
    }

    handle {
        redir https://sakulflee.github.io
    }
}
