{
  email dev@sakul-flee.de
}

sakul-flee.de, www.sakul-flee.de {
  reverse_proxy 10.0.0.102:80
}

pve.sakul-flee.de {
  reverse_proxy 10.0.0.1:8006
}

pbs.sakul-flee.de {
  reverse_proxy 10.0.0.2:8007
}
