name: Minecraft
services:
    minecraft:
        build: .
        restart: unless-stopped
        stdin_open: true
        tty: true
        ports:
            -   "25565:25565"
        volumes:
            -  $HOME/Data/Minecraft:/app:z
