name: Minecraft
services:
    minecraft:
        build: .
        stdin_open: true
        tty: true
        volumes:
            -  $HOME/Data/Minecraft:/app
        command:
            - java
            - -jar
            - /app/server.jar
