name: Minecraft
services:
    minecraft:
        build: .
        restart: unless-stopped
        stdin_open: true
        tty: true
        init: true
        ports:
            - "25565:25565/tcp"
            - "19132:19132/udp"
            - "8100:8100/tcp"
        volumes:
            -  $HOME/Data/Minecraft:/app:z
