name: Minecraft
services:
    minecraft:
        build: .
        restart: unless-stopped
        stdin_open: true
        tty: true
        init: true
        ports:
            - "25565:25565/tcp"
            - "19132:19132/udp"
        volumes:
            -  $HOME/Data/Minecraft:/app:z
        networks:
            - caddy_caddy

networks:
    caddy_caddy:
        external: true
