- name: "Create data directory"
  ansible.builtin.file:
    path: /var/lib/syncthing
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: "Deploy container"
  containers.podman.podman_container:
    state: started
    name: syncthing
    image: ghcr.io/syncthing/syncthing:latest
    restart_policy: unless-stopped
    pull: always
    user: "1000:1000"
    ports:
      - 8384:8384 # Web UI
      - 22000:22000/tcp # TCP file transfers
      - 22000:22000/udp # QUIC file transfers
      - 21027:21027/udp # Receive local discovery broadcasts
    volume:
      - "/var/lib/syncthing:/var/syncthing:z"
    env:
      PUID: 1000
      PGID: 1000
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 15s
    stop_timeout: 15

- name: Add task to start container on reboot
  ansible.builtin.cron:
    special_time: "reboot"
    name: Start container
    job: podman start syncthing
