WOODPECKER_OPEN=true
WOODPECKER_HOST=https://woodpecker.sakul-flee.de
WOODPECKER_ADMIN=sakulflee
WOODPECKER_FORGEJO=true
WOODPECKER_FORGEJO_URL=https://forgejo.sakul-flee.de
WOODPECKER_FORGEJO_CLIENT={{ vault_woodpecker_forgejo_client }}
WOODPECKER_FORGEJO_SECRET={{ vault_woodpecker_forgejo_secret }}
WOODPECKER_DATABASE_DRIVER=postgres
WOODPECKER_DATABASE_DATASOURCE=postgres://woodpecker:{{ vault_woodpecker_db_password }}@127.0.0.1:5432/woodpecker?sslmode=disable
WOODPECKER_AGENT_SECRET={{ vault_woodpecker_agent_secret }}
WOODPECKER_BACKEND=docker
