name: Deploy - Cloudflare-DDNS

on:
  schedule:
    - cron: "*/15 * * * *"

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: Self-Hosted
    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        working-directory: Cloudflare-DDNS
        run: |
          podman compose pull
          podman compose up --detach --remove-orphans --podman-run-args=--replace
