name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: Self-Hosted
    steps:
      - uses: actions/checkout@v4

      - name: Deploy - CloudFlare-DDNS
        working-directory: Cloudflare-DDNS
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans

      - name: Deploy - Caddy
        working-directory: Caddy
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans

      - name: Deploy - Minecraft
        working-directory: Minecraft
        run: |
          docker compose build --pull
          docker compose up --detach --remove-orphans

