name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checkout:
    runs-on: Self-Hosted
    steps:
      - uses: actions/checkout@v4

  deploy-cloudflare-ddns:
    runs-on: Self-Hosted
    needs:
      - checkout
    steps:
      - name: Deploy - CloudFlare-DDNS
        working-directory: Cloudflare-DDNS
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans

  deploy-caddy:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
    steps:
      - name: Deploy - Caddy
        working-directory: Caddy
        run: |
          docker compose build --pull
          docker compose up --detach --remove-orphans

  deploy-minecraft:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
      - deploy-caddy
    steps:
      - name: Deploy - Minecraft
        working-directory: Minecraft
        run: |
          docker compose build --pull
          docker compose up --detach --remove-orphans

  deploy-syncthing:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
      - deploy-caddy
    steps:
      - name: Deploy - SyncThing
        working-directory: SyncThing
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans

  deploy-motioneye:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
      - deploy-caddy
    steps:
      - name: Deploy - MotionEye
        working-directory: MotionEye
        run: |
          docker compose pull

          docker compose up --detach --remove-orphans

  deploy-open-webui:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
      - deploy-caddy
    steps:
      - name: Deploy - Open-WebUI
        working-directory: Open-WebUI
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans

  deploy-watchtower:
    runs-on: Self-Hosted
    needs:
      - checkout
      - deploy-cloudflare-ddns
      - deploy-caddy
    steps:
      - name: Deploy - WatchTower
        working-directory: WatchTower
        run: |
          docker compose pull
          docker compose up --detach --remove-orphans
