name: Deploy - Minecraft

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: Self-Hosted
    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        working-directory: Minecraft
        run: |
          podman compose build --pull
          podman compose --podman-run-args=--replace up --detach --remove-orphans
